:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: never;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  margin: 0; 
  overflow: hidden; 
  background: #020d0d;
  color: #ccc; 
  font-family: Arial, Helvetica, sans-serif;
}

/* .three-container{
  filter: contrast(2.2);
  z-index: -1;
} */
.track-block{
  padding: 1rem;
}

#playerContainer {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
}

#uiContainer {
  position: absolute;
  top: 10px;
  left: 10px;
}

#redTrackBlock {
  filter: drop-shadow(0 0 8px rgba(255, 0, 0));
}

#yellowTrackBlock {
  filter: drop-shadow(0 0 8px rgba(255, 255, 0));
}

#blueTrackBlock {
  filter: drop-shadow(0 0 8px rgba(0, 0, 255));
}

.instrument-block {
  margin-bottom: 8px;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

label {
  font-size: 0.8rem;
}

input[type="number"] {
  width: 50px;
}

@media (max-width: 768px) {
  body {
    overflow-y: hidden;
  }

  #playerContainer {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 10px;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }

  #uiContainer {
    visibility: hidden;
  }

  /* .track-block {
    font-size: 0.9em;
    padding: 10px;
  }

  .instrument-block {
    margin-bottom: 4px;
  }

  .checkbox-grid {
    grid-template-columns: repeat(auto-fit, minmax(20px, 20px));
    gap: 2px;
  }

  label {
    font-size: 0.7rem;
  }

  input[type="number"] {
    width: 40px;
  } */
}

* {
  /* mix-blend-mode: luminosity; */
  /* filter: brightness(1.15) contrast(1.2) invert(1); */
}